/**
 * Atom: Paragraph
 */

p {
  font-family: $sans;
  font-size: 0.9rem;
  line-height: 1.5;

  // Variation: Vocabulary word
  &#vocabulary-word {
    font-family: $serif;
    font-size: 3.9rem;
    line-height: 1.2;
    padding: 2rem;
  }

  &[lang=en] {
    color: $brick-red;
  }

  a {
    color: $white;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}
