/**
 * Layout: Main
 *
 * This is centering all text horizontally and vertically on the screen.
 */

main {
  height: 100vh;
  position: relative;

  .center {
    margin: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 100px);
    width: 100%;
  }
}
