/**
 * Layout: Main
 *
 * This is centering all text horizontally and vertically on the screen.
 */

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}
